<%- include('includes/head.ejs') %>

<%- include('includes/navigation.ejs') %>

<main class="banner">
    <h2 class="heading-text">Welcome to the eMall Store</h2>
    <div class="banner-link">
        <a href="/products">Start Shopping</a>
    </div>
</main>  

<%- include('includes/end.ejs') %>