<%- include('includes/head.ejs') %>

<%- include('includes/navigation.ejs') %>

    <h2 class="heading-text">Order Confirmation</h2>

    <p>Thank you for your order!</p>
    
<%- include('includes/end.ejs') %>