<%- include('includes/head.ejs') %>

<%- include('includes/navigation.ejs') %>

    <h2 class="heading-text">Error Encountered!</h2>

    <p>Sorry, your request could not be completed.</p>
    
    <p>If you were trying to submit a form or place an order, please check the information that you provided and try again. Some features requires that you log in before accessing them.</p>
    
<%- include('includes/end.ejs') %>