<%- include('includes/head.ejs') %>

<%- include('includes/navigation.ejs') %>

    <h2 class="heading-text">Page Not Found!</h2>

    <p>Sorry, the page you tried could not be found.</p>

    
<%- include('includes/end.ejs') %>